include ../includes/header.pug

div(class="container")
  div
     h1= title

     form(action="/add" method="post")
       div
         label= 'Image Link:'
         input(type='text' name='imgLink')
       div
         label= 'Description:'
         input(type='text' name='description')
       div
         label= 'Tags:'
         input(type='text' name='tags')
       div
         button(type='submit') Submit

include ../includes/footer.pug
