include ../includes/header-user-auth.pug

div(class="container")
  div
     h1= title
     
     form(action="/user/login" method="post" enctype="application/json")
       div
         label= 'User Email:'
         input(type='text' name='userEmail')
       div
         label= 'Password:'
         input(type='password' name='userPassword')
       div
         button(type='submit') Submit
     
     div
       p='Or '
         a(href="/user/signup") create new account
   
include ../includes/footer.pug
